.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.movieDetails {
    font-size: 1.6rem;
}

.firstItem {
    margin-top: 0;
}
